<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/aboutus.css" />
  <link rel="stylesheet" href="css/footernavbarwo.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
  <title>Document</title>
</head>

<body>
  <!-- *Navbar -->
  <section id="header">
    <div class="header container">
      <div class="navbar">
        <div class="logo">
          <a href="/"><img src="/images/logo.png" class="logoimg" /></a>
        </div>
        <div class="navlist">
          <div class="hb">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="/events">Etkinlikler</a></li>
            <li>
              <a href="">Hakkımızda</a></li>
            <li><a href="/">Yönetim Ekibi</a></li>
            <li><a href="/">Çalışma Ekibi</a></li>
            <li class="entrance">
              <a href="/login">Giriş Yap</a>
            </li>
            <li class="entrance">
              <a href="/register">Üye Ol</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- *Navbar End -->
  <!-- *Middle -->
  <section id="Aboutus">
    <div class="container-aboutus">
      <div class="toppart">


        <div class="leftpart">
          <div class="content">
            <div class="title">
              <h2>Hakkımızda</h2>
              <p>
                FMV Işık Üniversitesi bünyesinde bulunan İşletme ve Ekonomi
                Kulübü 1998 tarihinde kurulmuş olup, firmalarla öğrencileri bir
                araya getirmeyi hedefleyen, öğrencilere kariyer yollarında ışık
                tutma amacı güden bir kulüptür. Kulübün resmi aktif üye sayısı
                210 kişi olup, 16’sı yönetim kurulunda, 53’ü çalışma ekibinde
                yer almaktadır.
              </p>
            </div>
            <div class="bottom">
              <h2>Hedeflerimiz</h2>

              <ul>
                <li> İşletme ve ekonominin her bölümle olan ilişkisine vurgu yapmak</li>
                <li>Farklı öğrenci profillerine ulaşmak.</li>
                <li>Alanında uzman kişilerle kulüp üyelerimiz olan öğrencileri bir araya
                  getirmek.</li>
                <li>İlham veren kişilerin deneyimlerinden yararlanmak. Bunun için medya ve
                  teknolojik imkanlardan olabildiğince yararlanmak.
                </li>
                <li>Üniversiteyi yeni kazanan arkadaşlarımızın okula uyum sürecinde
                  yanlarında olmak. Yaptığımız mentorluk hizmetleriyle üniversiteye
                  donanımlı başlamalarını sağlamak.</li>
                <li>Kariyer yolculuklarında öğrencilere yol gösterici etkinlikler düzenlemek.</li>
                <li>Sosyal sorumluluk projeleri gerçekleştirerek farkındalık yaratmak.
                </li>

              </ul>
            </div>
          </div>
        </div>
        <div class="imagepart">
          <img src="/images/seninailen.jpg" />
          <div class="socialmedia">
            <div class="socialitem-mid">
              <a style="color: #0072b1"
                href="https://tr.linkedin.com/company/i%CC%87%C5%9Fletme-ve-ekonomi-kul%C3%BCb%C3%BC?trk=public_profile_topcard-current-company"
                target="_blank" class="fab fa-linkedin text-blue icons fa-4x"></a>
            </div>
            <div class="socialitem-mid" ">
              <a
              style=" color: rgb(29, 161, 242)" href="https://twitter.com/isletmeekonomi" target="_blank"
              class="fab fa-twitter text-light-blue icons fa-4x"></a>
            </div>
            <div class="socialitem-mid">
              <a style="color: black" href="https://www.instagram.com/fmvisletmeekonomi/" target="_blank"
                class="fab fa-instagram text-white icons fa-4x"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- *Middle End -->
  <!-- *Footer -->
  <section id="footer">
    <div class="footer">
      <div class="fo">
        <div class="footerleft">
          <div class="log">
            <a href="/">
              <h1 style="color: white; font-size: 3rem">
                <img src="/images/logo.png" style="width: 5rem; border-radius: 50%" />
              </h1>
            </a>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
              nesciunt, autem aperiam suscipit dolore provident illo
              perferendis. Numquam, rerum ab.
            </p>
          </div>
          <div class="socialmedia">
            <div class="socialitem">
              <a href="https://tr.linkedin.com/company/i%CC%87%C5%9Fletme-ve-ekonomi-kul%C3%BCb%C3%BC?trk=public_profile_topcard-current-company"
                target="_blank" class="fab fa-linkedin text-blue icons fa-3x"></a>
            </div>
            <div class="socialitem">
              <a href="https://twitter.com/isletmeekonomi" target="_blank"
                class="fab fa-twitter text-light-blue icons fa-3x"></a>
            </div>
            <div class="socialitem">
              <a href="https://www.instagram.com/fmvisletmeekonomi/" target="_blank"
                class="fab fa-instagram text-white icons fa-3x"></a>
            </div>
          </div>
        </div>
        <ul class="footerright">
          <li>
            <h2>Kurumsal</h2>
            <ul class="box">
              <li><a href="/aboutus">Hakkımızda</a></li>
              <li><a href="/contactus">İletişim</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="footerbottom">
        <p>Copyright © 2021 İEK</p>
      </div>
    </div>
  </section>
  <!-- *Footer End -->
  <script src="/views/hb.js"></script>
</body>

</html>