#mid-part{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.mainpart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title{
    font-size: 30px;
    display: flex;
    flex-direction: column;
}
.welcomebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

}
.button:hover {background-color: #17995c}

.button{
    padding: 5px;
    border-radius: 1rem;
    background-color: #17995c;
    font-size: 16px;
    color: white;
    cursor: pointer;
    width: 20rem;
    height: 5rem;
}
.svg{
    width: 100%;
}
.total{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:1260px){
.svg{
    width: 30%;
}
.total{
    display: flex;
    flex-direction: column;
}
}
@media screen and (max-width:1050px){
.svg img{
    width: 70rem;
}    
}
@media screen and (max-width:750px){
    .svg img{
        width: 40rem;
    }
}
@media screen and (max-width:420px){
    .svg img{
        width: 30rem;
    }
    .title{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width:310px){
    .svg img{
        width: 25rem;
    }
}