*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

#footer{
    margin-top: 0rem;
}

img{
    width: 100%;
}
#middleevents{
    background-color: #eee;
}

.middle2{
    width: 100%;
    height:45rem;
    display: flex;
    justify-content: center;
    background-color: #eee;
    padding: 0 1.5rem;
    padding-top: 5%;
 
}

.main2{
    width: 70%;
    max-width: 70%;
    height: 30%;
    background-color: #fff;
    padding: 5rem;
    margin-top: 8rem;
    display: flex;
   
    align-items: center;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    border-radius: .8rem;
    position: absolute;
    
    animation: animate 35s linear infinite;
    
    animation-delay: calc(7s * var(--delay));
}


.main2:last-child{
    animation-delay: calc(7s * var(--delay));
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: translateX(0%) scale(0);
    }
    5%, 20%{
        opacity: 0;
        transform: translateX(0%) scale(0);
    }
    25%, 40%{
        opacity: 1;
        transform: translateX(0%) scale(1);
    }
    45%, 60%{
        opacity: 0;
        transform: translateX(-0%) scale(0);
    }
    65%, 100%{
        opacity: 0;
        transform: translateX(-0%) scale(0);
    }
}

.a1_img{
    min-width: 30rem;
    max-width: 30rem;
    height: 25rem;
    max-height: 25rem;
    transform: translateX(-8rem);
    position: relative;
}

.a1_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.a1_img img::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(79, 172, 254, .8),
                                            rgba(0, 242, 254, .8));
    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
    border-radius: .8rem;
}

.a1-title{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-left: 25%;
    margin-right: 25%;
    text-transform: uppercase;
    color: #178a54;
}

.a1-text{
    margin-bottom: 3rem;
    margin-left: 1rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .7);
}

.a1-go{
    display: inline-block;
    padding: 1.5rem 3rem;
    margin: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background-image: linear-gradient(to right, #188b5b 0%, #075c2a 100%);
    border-radius: .8rem;
    text-decoration: none;
}

.a1-go:hover{
    background-image: linear-gradient(to right,  #0f583a 0%, #052c15 100%);
}


.main3{
    width: 20%;
    max-width: 20%;
    height: 30%;
    background-color: #fff;
    margin: 5rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    border-radius: .8rem;
}
.first{
    margin-top: 9%;
}
.b1{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    background-color: #eee;
 
}
.a1_info{
    text-align: center;
}
.a1_img2{

    max-width: 30rem;
    height: 25rem;
    max-height: 35rem;
    transform: translateY(-8rem);
    position: relative;
}

.a1_img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}
@media screen and (max-width: 1200px) {
  .a1_img2{
      max-width: 20rem;
  }
  .main2{
      height: 20%;
  }
}
  @media screen and (max-width: 900px) {
    .a1_img2{
        max-width: 40rem;
    }
    .b1 {
        flex-direction: column;
        align-items: center;
    }
    .main3{
        width: 70%;
        max-width: 70%;
    }
    .a1-title{
        text-align: center;
    }
    .main2{
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 45rem;
    }
    .middle2{
        align-items: center;
        padding-top: 40%;
    }
    .a1_img{
        transform: translateX(0);
        transform: translateY(-6rem);
    }
    .first{
        margin-top: 35%;
    }
}
 /* *Darkmode */
 body{
    --text-color: #222;
    --bkg-color: #fff;
  }
  body.dark-mode{
    --text-color: #eee;
    --bkg-color: rgba(53,54,58,255);
  
  }
  body.dark-mode img{
    filter: brightness(.9) contrast(1);
  }

  body{
    background: var(--bkg-color);
  }
  body.dark-mode .main3{
      background-color: whitesmoke;
  }
  body.dark-mode .main2{
    background-color: whitesmoke;
}
  body.dark-mode #middleevents{
      background-color: rgba(53,54,58,255);
  }
  body.dark-mode .b1{
    background-color: rgba(53,54,58,255);
}
body.dark-mode .middle2{
    background-color: rgba(53,54,58,255);
}
  h1,h2,h3,p{
    color: var(--text-color);
  }
  .toggle-darkmode{
    border-radius: 1.175rem; 
    padding: 3px; 
    border: none; 
    text-decoration:none;
  }
  .toggle-darkmode:hover{
    background-color: #45bba3;
  }
   /* *Darkmode End */
@media screen and (max-width: 500px){
    .main2{
        padding: 2.5rem;
        flex-direction: column;
        height: 65rem;
    }
     .middle2{
         padding-top: 50rem;
     }
    .a1_img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
    .first{
        margin-top: 40rem;
    }
    .a1_img{
       
        transform: translateY(-15rem);
    }
    .a1-title{
        margin: 0;
    }

}
