#mid-part{
    display: flex;
    height: 80vh;
}
.svg{
    display: flex;
    width: 100%;
}
.svg img{
    height: 100%;
}
.title{
    display: flex;
    font-size: 30px;
    font-family: sans-serif;
    padding-bottom: 2rem;
}
.btn{
    display: flex;
    font-size: 20px;
    justify-content: center;
    cursor: pointer;
    border: solid #4caf50;
    border-radius: 5rem;
    border-width: 3px;
    width: 25rem;
}
.tb{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn a{
    color: black;
}

 /* *Darkmode */
 body{
    --text-color: #222;
    --bkg-color: #fff;
  }
  body.dark-mode{
    --text-color: #eee;
    --bkg-color: rgba(53,54,58,255);
  
  }
  body.dark-mode img{
    filter: brightness(.9) contrast(1);
  }

  body{
    background: var(--bkg-color);
  }
   body.dark-mode .btn a{
       color: white;
   }
   body.dark-mode .btn {
    background-color: #4caf50;
}
  h1,h2,h3,p{
    color: var(--text-color);
  }
  .toggle-darkmode{
    border-radius: 1.175rem; 
    padding: 3px; 
    border: none; 
    text-decoration:none;
  }
  .toggle-darkmode:hover{
    background-color: #45bba3;
  }
   /* *Darkmode End */